import boto3
import glob

s3 = boto3.resource('s3',aws_access_key_id="{{ access_key }}",aws_secret_access_key="{{ secret_key }}")

for i in glob.glob('/tmp/cifar-10-model/*'):
    data = open(i,'rb')
    name = i.split("/")[-1]
    print("uploading " + str(i) + " to " + name)
    s3.Bucket('{{ bucket_name }}').put_object(Key="model_test/" + name, Body=data)

for i in glob.glob('{{ clone_path }}/{{ work_dir }}/*.txt'):
    data = open(i,'rb')
    name = i.split("/")[-1]
    print("uploading " + str(i) + " to " + name)
    s3.Bucket('{{ bucket_name }}').put_object(Key="model_test/" + name, Body=data)

print("done")